@inject IJSRuntime JSRuntime

<div @ref="_gridDivReference" class="ag-theme-balham-dark ag-grid"></div>

@code{ 
    private ElementReference _gridDivReference;
    private string _componentId = Guid.NewGuid().ToString();

    [Parameter]
    public IEnumerable<object> RowData { get; set; }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await JSRuntime.InvokeVoidAsync("blazorAgGrid.initialize", _componentId, _gridDivReference);
        }
        await JSRuntime.InvokeVoidAsync("blazorAgGrid.setRowData", _componentId, RowData);
    }
}