@typeparam TRow
@inject IJSRuntime JSRuntime
@implements IDisposable

<div @ref="_gridDivReference" class="ag-theme-balham-dark ag-grid"></div>

@code{ 
    private ElementReference _gridDivReference;
    private string _componentId = Guid.NewGuid().ToString();

    [Parameter]
    public IEnumerable<TRow> RowData { get; set; }
    [Parameter]
    public EventCallback<TRow> OnSelectionChanged { get; set; }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await JSRuntime.InvokeVoidAsync("blazorAgGrid.initialize", _componentId, _gridDivReference, DotNetObjectReference.Create(this));
        }
        await JSRuntime.InvokeVoidAsync("blazorAgGrid.setRowData",
            _componentId, RowData);
    }

    [JSInvokable]
    public async Task RaiseSelectionChangedAysnc(TRow row)
    {
        if(OnSelectionChanged.HasDelegate)
        {
            await OnSelectionChanged.InvokeAsync(row);
        }
    }

    public async void Dispose()
    {
        try
        {
            await JSRuntime.InvokeVoidAsync("blazorAgGrid.dispose", _componentId);
        }
        catch(Exception ex)
        {
            System.Diagnostics.Debug.WriteLine(ex.Message);
        }
    }
}