@inherits LayoutComponentBase

<!-- Layout wrapper -->
<div class="layout-wrapper layout-1 layout-without-sidenav">
    <div class="layout-inner">
        <!-- Layout navbar -->
            <NavBar/>
        <!-- Layout container -->
        <div class="layout-container">
            <!-- Layout content -->
            <div class="layout-content">
                <!-- Layout sidenav -->
                    <NavMenu/>
                <!-- Content -->
                    <div class="container-fluid flex-grow-1 container-p-y">
                        @Body
                    </div>
                <!-- / Content -->
                <!-- Layout footer -->



            </div>
            <!-- Layout content -->
        </div>
        <!-- / Layout container -->
    </div>
</div>
<!-- / Layout wrapper -->
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" 
                ShowProgressBar="true"
                />


