<!-- Layout sidenav -->
<div id="layout-sidenav" class="layout-sidenav-horizontal sidenav-horizontal container-p-x flex-grow-0 sidenav bg-sidenav-theme">
    <!-- Inner -->
    <ul class="sidenav-inner py-1">
        <AuthorizeView>
            <NotAuthorized>
                <li class="sidenav-item">
                    <NavLink class="sidenav-link" href="LoginIDP">
                        <i class="sidenav-icon ion ion-ios-contact"></i>
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Log in
                    </NavLink>
                </li>
            </NotAuthorized>
            <Authorized>
                <li class="sidenav-item">
                    <NavLink class="sidenav-link" href="airports">
                        <i class="sidenav-icon ion ion-ios-contact"></i>
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Airports
                    </NavLink>
                </li>
                <li class="sidenav-item">
                    <NavLink class="sidenav-link" href="LogoutIDP">
                        <i class="sidenav-icon ion ion-ios-contact"></i>
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Log out
                        (@context.User.Claims.FirstOrDefault(c => c.Type == "given_name")?.Value)

                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>
<!-- / Layout sidenav -->


@code {

}
