@page "/"
<div>
    <h2>Flights Countries Travels</h2>
</div>
<br />

@if (!IsRegisteredUser)
{
    <a>Welcome to FCT App.</a>
}
else
{

    <div class="row no-gutters container-m-nx container-m-ny bg-lighter bg-white container-p-x pb-3 mb-4">
        <div class="col-6 col-sm-3 col-md pt-3 pr-4">
            <div class="media align-items-center">
                <div class="ion ion-md-globe text-twitter text-large"></div>
                <div class="media-body ml-3">
                    <div class="text-big font-weight-bold line-height-1">25/@User.UserStats.AirportsCount</div>
                    <div class="text-light text-tiny font-weight-semibold line-height-1 mt-1">COUNTRIES/AIRPORTS</div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-3 col-md pt-3 pr-4">
            <div class="media align-items-center">
                <div class="ion ion-md-airplane text-google text-large"></div>
                <div class="media-body ml-3">
                    <div class="text-big font-weight-bold line-height-1">@User.UserStats.UserFlightsCount</div>
                    <div class="text-light text-tiny font-weight-semibold line-height-1 mt-1">FLIGHTS NO.</div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-3 col-md pt-3 pr-4">
            <div class="media align-items-center">
                <div class="ion ion-md-analytics text-facebook text-large"></div>
                <div class="media-body ml-3">
                    <div class="text-big font-weight-bold line-height-1">@User.UserStats.FlightsDistance km</div>
                    <div class="text-light text-tiny font-weight-semibold line-height-1 mt-1">FLIGHT DISTANCE</div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-3 col-md pt-3 pr-4">
            <div class="media align-items-center">
                <div class="ion ion-md-alarm text-pinterest text-large"></div>
                <div class="media-body ml-3">
                    <div class="text-big font-weight-bold line-height-1">@User.UserStats.FlightsTime hours</div>
                    <div class="text-light text-tiny font-weight-semibold line-height-1 mt-1">HOURS IN AIR</div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-3 col-md pt-3 pr-4">
            <div class="media align-items-center">
                <div class="ion ion-md-jet text-instagram text-large"></div>
                <div class="media-body ml-3">
                    <div class="text-big font-weight-bold line-height-1">10</div>
                    <div class="text-light text-tiny font-weight-semibold line-height-1 mt-1">AIRPLANE MODELS</div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Head stats -->
    <div>
        <a>User Id: @User.Id</a>
    </div>
}