@page "/airports"
@inherits AirportsListBase
@attribute [Authorize]
@inject IJSRuntime JSRuntime

@if (Airports == null)
{   <h4>Airports</h4>
    <div class="sk-bounce sk-primary">
        <div class="sk-bounce-dot"></div>
        <div class="sk-bounce-dot"></div>
    </div>
}
else
{
    <BlazorAgGrid RowData="Airports"></BlazorAgGrid>
}


@code {        

    private ElementReference _gridDivReference;

}
