@page "/airports"
@attribute [Authorize]
@inject IJSRuntime JSRuntime
@inject IModalService Modal

<button @onclick="@(() => Modal.Show<AddAirportDialog>("Add New Airport"))" class="btn-facebook">Add New Airport</button>

@if (Airports == null) 
{ 
    <div class="sk-bounce sk-primary" id="center-loader">
        <div class="sk-bounce-dot"></div>
        <div class="sk-bounce-dot"></div>
    </div>
}
else
{
    <div class="card-body">
        @if (IncludedICCO == true)
        {
            <div class="text-light small font-weight-semibold mb-3">
                All @Airports.Count Airports are included (IATA and ICAO)
            </div>
        }
        else
        {
            <div class="text-light small font-weight-semibold mb-3">
                Only @Airports.Count IATA airports are included
            </div>
        }
        <label class="switcher">
            <input @bind="IncludedICCO" type="checkbox" class="switcher-input">
            <span class="switcher-indicator">
                <span class="switcher-yes">
                    <span class="ion ion-md-checkmark"></span>
                </span>
                <span class="switcher-no">
                    <span class="ion ion-md-close"></span>
                </span>
            </span>
            @if (IncludedICCO == true)
            {
                <span class="switcher-label text-light small font-weight-semibold mb-3">Exclude non IATA airports</span>
            }
            else
            {
                <span class="switcher-label text-light small font-weight-semibold mb-3">Include non IATA airports</span>
            }

        </label>

    </div>
    <BlazorAgGrid TRow="AirportModel"
                  AutoGenerateColumns="false"
                  RowData="Airports"
                  OnSelectionChanged="GridSelectionChanged">
        <BlazorAgGridColumn HeaderName="Name" Field="Name"
                            Sortable="true" Filter="true"></BlazorAgGridColumn>
        <BlazorAgGridColumn HeaderName="Country Code" Field="CountryAlpha3Code"
                            Sortable="false" Filter="false" HtmlStyle="<H1>$<H1>">
        </BlazorAgGridColumn>
        <BlazorAgGridColumn HeaderName="Country" Field="CountryName"
                            Sortable="true" Filter="true"></BlazorAgGridColumn>
        <BlazorAgGridColumn HeaderName="ICAO" Field="Icao"
                            Sortable="true" Filter="true"></BlazorAgGridColumn>
        <BlazorAgGridColumn HeaderName="IATA" Field="Iata"
                            Sortable="true" Filter="true"></BlazorAgGridColumn>
    </BlazorAgGrid>
    @if (SelectedAirport != null)
    {
        <div class="card">
            <div class="card-header">
                @SelectedAirport.Name /@SelectedAirport.ICAO
            </div>
            <div class="card-body">
                <a class="btn btn-secondary" href="airporedit/@SelectedAirport.Id">edit</a>
                <a class="btn btn-secondary" href="airportdetail/@SelectedAirport.Id">view</a>
            </div>
        </div>}
}

@code {
    private ElementReference _gridDivReference;
}

