


@if (Airport == null)
{
    <a>Loading...</a>
}
else
{
    @Airport.Name
    @if (Airport.DepartureFlights.Count == 0 && Airport.ArrivalFlights.Count == 0)
    {
        <a>You can delete this recored</a>
    }
    else
    {
        <a>This airport is in use, you can edit it</a>
    }

}
