@using IdentityServer4.Extensions
@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<div class="welcome-block px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                Welcome to IdentityServer4
                <small>(version @version)</small>
            </h1>
        </div>
    </div>
</div>

<div class="card-deck mb-3 text-center">
    @if (!User.IsAuthenticated())
    {
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Login</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title">
                    <span class="oi oi-lock-locked" title="Login" aria-hidden="true"></span>
                </h1>
                <a asp-controller="Account" asp-action="Login" class="btn btn-lg btn-block btn-primary">Login</a>
            </div>
        </div>
    }

    @if (User.IsAuthenticated())
    {
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Grants</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title">
                    <span class="oi oi-key" title="Grants" aria-hidden="true"></span>
                </h1>
                <a asp-controller="Grants" asp-action="Index" class="btn btn-lg btn-block btn-primary">Grants</a>
            </div>
        </div>
    }

    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Discovery</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title">
                <span class="oi oi-monitor" title="Discovery" aria-hidden="true"></span>
            </h1>
            <a href="~/.well-known/openid-configuration" class="btn btn-lg btn-block btn-outline-primary">Discovery</a>
        </div>
    </div>

    @if (User.IsAuthenticated())
    {
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Manage Profile</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title">
                    <span class="oi oi-person" title="Manage Profile" aria-hidden="true"></span>
                </h1>
                <a asp-controller="Manage" asp-action="Index" class="btn btn-lg btn-block btn-primary">Manage Profile</a>
            </div>
        </div>
    }
</div>



<div class="row">
    <div class="col-sm-8">
        <p>
            Here are links to the
            <a href="https://github.com/identityserver/IdentityServer4">source code repository</a>,
            and <a href="https://github.com/IdentityServer/IdentityServer4/tree/master/samples">ready to use samples</a>.
        </p>
    </div>
</div>

